{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}Inscription{% endblock %}
{% block fos_user_content %}
<div class="row" style="background-color:#C12451"> 
</br>
</br>
		<div align="center">
			<FONT color="white">
				<h1>Inscription</h1>
			</FONT>
		</div>
		</br>
		</br>
</br>
</div>
</br>

</div>
	<div align="center" class="col-lg-offset-2 col-lg-8">

		{% include "FOSUserBundle:Registration:register_content.html.twig" %}
	</div>
{% endblock fos_user_content %}
