{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-inline">
    <div>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
		<div class="form-group">
			<label for="username">{{ 'resetting.request.username'|trans }}</label>
			<input class="form-control" type="text" id="username" name="username" required="required" />
		</div>
    </div>
	</br>
    <div>
		<input style="background-color:white; border-color:#4B7391; color:#4B7391;" class="btn btn-lg btn-default" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
