{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}

	{% if is_granted("ROLE_SUPER_ADMIN") %}
	
	
			<h3 align="center"><b>Ajouter une question à la FAQ</b></h3>

			
			<div class="row well">
					<div class="col-lg-offset-1 col-lg-10">
					  {{ form(form) }}
					</div>
			</div>
	 
	{% endif %}
 
 {% endblock %}	