{% extends "base.html.twig" %}

{% block title %}Liste de vos candidats{% endblock %}


{% block body %}

		{% if is_granted("ROLE_ADMIN") %}

		<p>Afficher le suvi de : </p>
		
			{% if candidats %}
			
			<tr>
				{% for candidat in candidats %}
								
						
					<td><a href="#">{{ candidat.nom }} {{ candidat.prenom }}</a></td>
				{% endfor %}
			
			</tr>
			{% endif %}

		{% else %}

			<p> Que faites vous là ? </p>


		{% endif %}

{% endblock %}	